.tabs {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
  color: #000 !important;
}
.tabs button:hover {
  background-color: #ddd;
}
.tabs button.active {
  background-color: rgb(244, 67, 54);
}
