* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', 'Arial', sans-serif;
}
html,
body {
  background-color: rgb(250, 249, 249);
}
.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
  background-image: linear-gradient(15deg, #e0161d 0%, #ed400c 100%);
  color: #fff;
}

.navbar .logo {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 400;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: start;
  margin-left: 20%;
}

.nav-item a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  text-transform: uppercase;
  margin-right: 10px;
}
.nav {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
.nav li:active {
  text-decoration: underline;
}
/* mobile menu &  animation */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 720px) {
  /* mobile nav*/

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}
