.voting {
  display: grid;
  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 80%;
  height: 95vh;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80% 10%;
  grid-template-areas:
    'i i i i i i'
    'b b b b b b';
}
.profile-image {
  grid-area: i;
  align-self: center;
}
img {
  min-height: 95%;
  max-height: 95%;
  min-width: 850px;
  max-width: 95%;
}
.reaction {
  grid-area: b;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 50px 150px;
  grid-template-columns: 100px 100px;
  justify-content: center;
}
button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.9;
}
#like-btn {
  background-color: rgb(76, 175, 80);
}
#dislike-btn {
  background-color: rgb(244, 67, 54);
}
button:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1.1em;
}
.message {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin: 350px;
}
